<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/Email.css">
    <%- include("head.ejs")%>
    <title>Contacts</title>
</head>
<body>
<%- include("header.ejs")%>

<div class="container" style="width: 600px">
    <div class="row header">
        <h1>CONTACT US &nbsp;</h1>
        <h3>Fill out the form below to learn more!</h3>
    </div>
    <div class="container" style="width: 600px">
        <form id="contact" action="" method="post">
            <h3>Quick Contact</h3>
            <h4>Contact us today, and get reply with in 24 hours!</h4>
            <fieldset>
                <input placeholder="Your name" type="text" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
                <input placeholder="Your Email Address" type="email" tabindex="2" required>
            </fieldset>
            <fieldset>
                <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
            </fieldset>
            <fieldset>
                <input placeholder="Your Web Site starts with http://" type="url" tabindex="4" required>
            </fieldset>
            <fieldset>
                <textarea placeholder="Type your Message Here...." tabindex="5" required></textarea>
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </fieldset>
        </form>
    </div>
</div>

<%- include("footer.ejs")%>
</body>
</html>