<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="libs/bootstrap-3.4.1/css/bootstrap.css">
</head>
<body>
<section class="col-md-12">
    <div class="container">
        <table class="table">
            <thead>
            <th>Mã sản phẩm</th>
            <th>Ảnh sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            </thead>
            <tbody>
            <% dssp.forEach(function(e){%>
                <tr>
                    <td><%= e.IdProd %></td>
                    <td><img src="<%= e.Images %>" height="200"/></td>
                    <td><%= e.NameProd %></td>
                    <td><%= e.Price %></td>
                </tr>
            <%})%>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>