<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/product.css">
    <link rel="stylesheet" href="libs/bootstrap-4.0.0/dist/css/bootstrap.css">
    <link rel="stylesheet" href="libs/bootstrap-3.4.1/css/bootstrap.css">
    <link rel="stylesheet" href="libs/font awesome 5.15/css/all.css">
</head>
<body>
<!--head-->
<div id="head">
    <div class="container">
        <div class="card-deck">
            <div class="card" style="border: none">
                <div class="card-body" style="width: 200px">
                    <img class="card-img-top" src="imgs/Logo.png" alt="logo">
                </div>
            </div>
            <div class="card" style="border: none">
                <div class="card-body" style="margin-top: 60px">
                    <div class="topnav" style="color: #fafafa;height: 50px">
                        <div class="search-container" style="text-align: center">
                            <form action="/action_page.php">
                                <input type="text" placeholder="Tìm kiếm....." name="search">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--head end-->
<!--Menu-->
<nav class="navbar navbar-expand-lg navbar-light bg-light bg-red">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="width: 100%">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/home" id="navbarDropdown">
                        <p>Home</p>
                    </a>
                    <div class="dropdown-content">
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/shirts" id="navbarDropdown">
                        <p>Shirts</p>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/skirts" id="navbarDropdown">
                        <p>Skirts</p>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/frocks" id="navbarDropdown">
                        <p>Frocks</p>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/home" id="navbarDropdown">
                        <p>P.T</p>
                    </a>
                    <div class="dropdown-content">
                        <a class="dropdown-item" href="/pt-tshirt">T-shirts</a>
                        <a class="dropdown-item" href="/pt-short">Shorts</a>
                        <a class="dropdown-item" href="/pt-trackpants">Track pants</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/ties" id="navbarDropdown">
                        <p>Ties</p>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/belts" id="navbarDropdown">
                        <p>Belts</p>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/shocks" id="navbarDropdown">
                        <p>Socks</p>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/showroom" id="navbarDropdown">
                        <p>Showroom</p>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/contact" id="navbarDropdown">
                        <p>Contact</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--end menu-->
<div class="container"></div>


<!--footer-->
<footer class="footer-distributed">

    <div class="footer-left">

        <h3>A1<span> - UNIFORMS</span></h3>

        <p class="footer-links">
            <a href="/home" class="link-1">Home</a>

            <a href="#">Blog</a>

            <a href="#">Pricing</a>

            <a href="#">About</a>

            <a href="#">Faq</a>

            <a href="">Contact</a>
        </p>

        <p class="footer-company-name">A1 - UNIFORMS © 2021</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>275 Nguyễn Trãi</span> Thanh Xuân, Hà Nội</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+84 943326689</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:A1.uniforms@gmail.com">A1.uniforms@gmail.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>About the company</span>
            A-1 uniforms was founded in 2016 and since then they have been one of the leading Uniform Manufacturers in the country.
        </p>
        <div class="footer-icons">
            <a href="https://www.facebook.com/khai.le.3344"><i class="fab fa-facebook"></i></a>
            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/yotsubasuzu/eProject/tree/master/public/imgs"><i class="fab fa-github"></i></a>
        </div>
    </div>
</footer>
<!--footer end-->
<script src="libs/jquery/jquery-3.5.1.min.js"></script>
<script src="libs/bootstrap3.4.1/js/bootstrap.min.js"></script>
</body>
</html>