<!--head-->
<div id="head">
    <div class="container">
        <div class="card-deck">
            <div class="card col-md-3" style="border: none">
                <div class="card-body" style="width: 200px">
                    <img class="card-img-top" src="imgs/logo.png" alt="logo">
                </div>
            </div>
            <div class="card col-md-6" style="border: none">
                <div class="card-body" style="margin-top: 60px">
                    <div class="topnav" style="color: #fafafa;height: 50px;width: 300px;margin-left:16%">
                        <div class="search-container" style="text-align: center">
                            <form class="form-inline" method="get" action="/search">
                                <input type="text" placeholder="Search" name="keyword">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="border: none">
                    <div class="card-body" style="width: 300px">
                        <div class="detail">
                            <a class="btn btn-primary" href="#" role="button" style="color: black;margin-left:15px">Contact Us</a>
                        </div>
                        <div class="detail">
                            <a class="btn btn-primary" href="#" role="button" style="color: black;">About Us</a>
                        </div>
                        <div class="detail">
                            <a class="btn btn-primary" href="/checkout" role="button" style="color: black">Cart</a>
                        </div>
                        <div class="detail1" style="padding-top: 60px !important;">
                            <a class="btn btn-primary" href="#" role="button" style="color: white;width: 250px;border: 1px groove #ed3126;background-color:#ed3126 !important; ">HOW TO PLACE AN ORDER</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--head end-->
<!--Menu-->
<nav class="navbar navbar-expand-lg navbar-light bg-light bg-red">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="width: 100%">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/" id="navbarDropdown">
                        <p>Home</p>
                    </a>
                    <div class="dropdown-content">
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/shirts" id="navbarDropdown">
                        <p>Shirts</p>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/skirts" id="navbarDropdown">
                        <p>Skirts</p>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/frocks" id="navbarDropdown">
                        <p>Frocks</p>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/pt" id="navbarDropdown">
                        <p>P.T</p>
                    </a>
                    <div class="dropdown-content">
                        <a class="dropdown-item" href="/pt-tshirts">T-shirts</a>
                        <a class="dropdown-item" href="/pt-shorts">Shorts</a>
                        <a class="dropdown-item" href="/pt-trackpants">Track pants</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/ties" id="navbarDropdown">
                        <p>Ties</p>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/belts" id="navbarDropdown">
                        <p>Belts</p>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/socks" id="navbarDropdown">
                        <p>Socks</p>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/showroom" id="navbarDropdown">
                        <p>Showroom</p>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/contact" id="navbarDropdown">
                        <p>Contact</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--end menu-->