<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("head.ejs")%>
    <link rel="stylesheet" href="libs/splide-2.4.21/splide.min.css">
    <title>Home</title>
</head>
<body>
<%- include("header.ejs")%>

<div class="col-md-12">
    <div id="image-slider" class="splide">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <img src="imgs/banner1.jpg"/>
                </li>
                <li class="splide__slide">
                    <img src="imgs/banner2.jpg"/>
                </li>
                <li class="splide__slide">
                    <img src="imgs/banner3.jpg"/>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="card bg-dark text-white mt-2" style="margin-top: 30px !important;">
        <img class="card-img" src="imgs/img_3.png" height="150px" style="border: 6px ridge #fafafa" alt="">
        <div class="card-img-overlay" style="margin-top: 15px">
            <p class="card-text" style="text-align: center;font-size: 30px">A1 - UNIFORMS</p>
            <p class="card-text" style="text-align: center;font-size: 30px">GOOD AND TRENDING</p>
        </div>
    </div>
</div>
<!--show product-->
<div class="container">
    <div class="row mt-lg-5" >
        <div class="product-group">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="card card-product" style="width: 250px;">
                        <a href="/pt-tshirts" class="btn btn-primary">
                            <img class="card-img-top" src="imgs/shirt01.jpg" width="224px" height="256px" alt="">
                        </a>
                        <div class="card-body">
                            <a href="/pt-tshirts" class="btn btn-primary">
                                <p class="card-text"></p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="card card-product" style="width: 250px;">
                        <a href="/skirts" class="btn btn-primary">
                            <img class="card-img-top" src="imgs/skirt02.jpg" width="224px" height="256px" alt="">
                        </a>
                        <div class="card-body">
                            <a href="/skirts" class="btn btn-primary">
                                <p class="card-text"></p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="card card-product" style="width: 250px;">
                        <a href="/frocks" class="btn btn-primary">
                            <img class="card-img-top" src="imgs/frock01.jpg" width="224px" height="256px" alt="">
                        </a>
                        <div class="card-body">
                            <a href="/frocks" class="btn btn-primary">
                                <p class="card-text"></p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="card card-product" style="width: 250px;">
                        <a href="/socks" class="btn btn-primary">
                            <img class="card-img-top" src="imgs/sock02.jpg" width="224px" height="256px" alt="">
                        </a>
                        <div class="card-body">
                            <a href="/socks" class="btn btn-primary">
                                <p class="card-text"></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end show product-->
<div class="container">
    <div class="row mt-lg-5" >
        <div class="product-group">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="card card-product" style="width: 250px;">
                        <a href="/ties" class="btn btn-primary">
                            <img class="card-img-top" src="imgs/tie08.jpg" width="224px" height="256px" alt="">
                        </a>
                        <div class="card-body">
                            <a href="/ties" class="btn btn-primary">
                                <p class="card-text"></p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="card card-product" style="width: 250px;">
                        <a href="/belts" class="btn btn-primary">
                            <img class="card-img-top" src="imgs/belt02.jpg" width="224px" height="256px" alt="">
                        </a>
                        <div class="card-body">
                            <a href="/belts" class="btn btn-primary">
                                <p class="card-text"></p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="card card-product" style="width: 250px;">
                        <a href="/shirts" class="btn btn-primary">
                            <img class="card-img-top" src="imgs/shirt03.jpg" width="224px" height="256px" alt="">
                        </a>
                        <div class="card-body">
                            <a href="/shirts" class="btn btn-primary">
                                <p class="card-text"></p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="card card-product" style="width: 250px;">
                        <a href="/skirts" class="btn btn-primary">
                            <img class="card-img-top" src="imgs/skirt07.jpg" width="224px" height="256px" alt="">
                        </a>
                        <div class="card-body">
                            <a href="/skirts" class="btn btn-primary">
                                <p class="card-text"></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end show product-->
<div class="container" style="margin-bottom: 20px">
    <div class="row mt-lg-5" >
        <h2 class="list-product-title">New collection 2021</h2>
        <div class="list-product-subtitle">
            <p style="border-top: 3px solid #ff1900;margin-bottom: 20px"></p>
        </div>
        <div class="product-group">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="card card-product" style="width: 250px;">
                        <a href="#" class="btn btn-primary">
                            <img class="card-img-top" src="imgs/belt05.jpg" width="224px" height="256px" alt="">
                        </a>
                        <div class="card-body">
                            <a href="/belts" class="btn btn-primary">
                                <p class="card-text"></p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="card card-product" style="width: 250px;">
                        <a href="#" class="btn btn-primary">
                            <img class="card-img-top" src="imgs/skirt04.jpg" width="224px" height="256px" alt="">
                        </a>
                        <div class="card-body">
                            <a href="/skirts" class="btn btn-primary">
                                <p class="card-text"></p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="card card-product" style="width: 250px;">
                        <a href="/shirts" class="btn btn-primary">
                            <img class="card-img-top" src="imgs/shirt13.jpg" width="224px" height="256px" alt="">
                        </a>
                        <div class="card-body">
                            <a href="" class="btn btn-primary">
                                <p class="card-text"></p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="card card-product" style="width: 250px;">
                        <a href="#" class="btn btn-primary">
                            <img class="card-img-top" src="imgs/tie08.jpg" width="224px" height="256px" alt="">
                        </a>
                        <div class="card-body">
                            <a href="#" class="btn btn-primary">
                                <p class="card-text"></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end show product-->
<div class="container" style="margin-bottom: 20px">
    <div class="row mt-lg-5" >
        <h2 class="list-product-title">Why should buy uniforms here ?</h2>
        <p style="border-top: 3px solid #ff1900;margin-bottom: 20px"></p>
        <div class="list-product-subtitle">
            <p style="border-top: 3px solid #ff1900;margin-bottom: 20px"></p>
        </div>
        <div class="info" style="width: 100%">
            <div class="row mt-lg-5" >
                <div class="product-group">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="card card-product" style="width: 250px;">
                                <a href="#" class="btn btn-primary">
                                    <img class="card-img-top" src="imgs/icon-than-thien.png" width="224px" height="256px" alt="">
                                </a>
                                <div class="card-body">
                                    <a href="#" class="btn btn-primary">
                                        <p class="card-text">30 years of experience</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="card card-product" style="width: 250px;">
                                <a href="#" class="btn btn-primary">
                                    <img class="card-img-top" src="imgs/kk.jpg" width="224px" height="256px" alt="">
                                </a>
                                <div class="card-body">
                                    <a href="#" class="btn btn-primary">
                                        <p class="card-text">Large store system</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="card card-product" style="width: 250px;">
                                <a href="#" class="btn btn-primary">
                                    <img class="card-img-top" src="imgs/aa.png" width="224px" height="256px" alt="">
                                </a>
                                <div class="card-body">
                                    <a href="#" class="btn btn-primary">
                                        <p class="card-text">On time delivery</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="card card-product" style="width: 250px;">
                                <a href="#" class="btn btn-primary">
                                    <img class="card-img-top" src="imgs/hh.png" width="224px" height="256px" alt="">
                                </a>
                                <div class="card-body">
                                    <a href="#" class="btn btn-primary">
                                        <p class="card-text">Commitment to the best quality</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end info-->
<!--<end></end>-->
<!--end info-->
<div class="container">
    <div class="row mt-lg-5">
        <h2 class="list-product-title">ABOUT US</h2>
        <div class="list-product-subtitle">
            <p style="border-top: 3px solid #ff1900;margin-bottom: 20px"></p>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img class="card-img-top" src="imgs/Logo.png" WIDTH="50px" height="400px" alt="logo">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 21px">
                        A-1 uniforms was founded in 2016 and since then they have been one of the leading
                        Uniform Manufacturers in the country. <br>
                        They supply many schools in country and they give them the best uniforms. <br>
                        They supply affordable school uniforms for girls and boys. <br>
                        When clients come, they cater to client’s vision. <br>
                        As a team of professionals they understand what clients want and deliver the best results. <br>
                        Each client is given the uttermost importance. <br>
                        The entire team works together to achieve the same goal.
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("footer.ejs")%>

<script src="libs/jquery/jquery-3.5.1.min.js"></script>
<script src="libs/bootstrap-3.4.1/js/bootstrap.js"></script>
<script src="libs/splide-2.4.21/splide.min.js"></script>
<script>
    document.addEventListener( 'DOMContentLoaded', function () {
        new Splide( '#image-slider',{
            autoplay: true,
            speed: 300,
            autoHeight: true,
            rewind: true,
            type: 'loop'
        } ).mount();
    } );
</script>
</body>
</html>