<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/Email.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="libs/bootstrap-4.0.0/dist/css/bootstrap.css">
    <link rel="stylesheet" href="libs/bootstrap-3.4.1/css/bootstrap.css">
    <link rel="stylesheet" href="libs/font awesome 5.15/css/all.css">
    <link rel="stylesheet" href="css/btbody.css">
    <title>All Products</title>
</head>
<body>
<!--head-->
<div id="head">
    <div class="container">
        <div class="card-deck">
            <div class="card col-md-3" style="border: none">
                <div class="card-body" style="width: 200px">
                    <img class="card-img-top" src="imgs/Logo.png" alt="logo">
                </div>
            </div>
            <div class="card col-md-6" style="border: none">
                <div class="card-body" style="margin-top: 60px">
                    <div class="topnav" style="color: #fafafa;height: 50px;width: 300px;margin-left:16%">
                        <div class="search-container" style="text-align: center">
                            <form class="form-inline" method="get" action="/search">
                                <input type="text" placeholder="Tìm kiếm....." name="keyword">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="border: none">
                    <div class="card-body" style="width: 300px">
                        <div class="detail">
                            <a class="btn btn-primary" href="#" role="button" style="color: black;margin-left:15px">Liên Hệ</a>
                        </div>
                        <div class="detail">
                            <a class="btn btn-primary" href="#" role="button" style="color: black;">Giới Thiệu</a>
                        </div>
                        <div class="detail">
                            <a class="btn btn-primary" href="#" role="button" style="color: black">Giỏ Hàng</a>
                        </div>
                        <div class="detail1" style="padding-top: 60px !important;">
                            <a class="btn btn-primary" href="#" role="button" style="color: white;width: 250px;border: 1px groove #ed3126;background-color:#ed3126 !important; ">HƯỚNG DẪN MUA HÀNG</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--head end-->
<!--Menu-->
<nav class="navbar navbar-expand-lg navbar-light bg-light bg-red">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="width: 100%">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/" id="navbarDropdown">
                        <p>Home</p>
                    </a>
                    <div class="dropdown-content">
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/shirts" id="navbarDropdown">
                        <p>Shirts</p>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/skirts" id="navbarDropdown">
                        <p>Skirts</p>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/frocks" id="navbarDropdown">
                        <p>Frocks</p>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/pt" id="navbarDropdown">
                        <p>P.T</p>
                    </a>
                    <div class="dropdown-content">
                        <a class="dropdown-item" href="/pt-tshirts">T-shirts</a>
                        <a class="dropdown-item" href="/pt-shorts">Shorts</a>
                        <a class="dropdown-item" href="/pt-trackpants">Track pants</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/ties" id="navbarDropdown">
                        <p>Ties</p>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/belts" id="navbarDropdown">
                        <p>Belts</p>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/socks" id="navbarDropdown">
                        <p>Socks</p>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/showroom" id="navbarDropdown">
                        <p>Showroom</p>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/contact" id="navbarDropdown">
                        <p>Contact</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--end menu-->

<section class="section main">
    <div class="col-md-12">
        <div class="container">
            <div class="row">
                <aside class="sidebar col-md-3">
                    <div class="sidebar-tab">
                        <div class="category-product">
                            <p class="sidebar-name">PRODUCTS</p>
                            <hr>
                            <div class="sidebar-list">
                                <ul>
                                    <li class="list"><a href="/products">All Products</a></li>
                                    <li class="list"><a href="/shirts">Shirts</a></li>
                                    <li class="list"><a href="/skirts">Skirts</a></li>
                                    <li class="list"><a href="/frocks">Frocks</a></li>
                                    <li class="list"><a href="/pt-tshirts">P.T. T-Shirts</a></li>
                                    <li class="list"><a href="/pt-shorts">P.T. Shorts</a></li>
                                    <li class="list"><a href="/pt-trackpants">P.T. Trackpants</a></li>
                                    <li class="list"><a href="/belts">Belts</a></li>
                                    <li class="list"><a href="/socks">Socks</a></li>
                                    <li class="list"><a href="/ties">Ties</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
                <article class="content col-md-9">
                    <div class="row">
                        <% dssp.forEach(function(e){%>
                            <div class="product">
                                <div class="image">
                                    <a href="#"><img src="<%= e.Images %>" height="200" width="220"/>
                                    </a></div>
                                <div class="des">
                                    <h3 class="pr-name"><a href="#"><%= e.NameProd %></a></h3>
                                    <p class="cost">$<%= e.Price %></p>
                                    <a href="/detailproduct?NameProd='<%= e.NameProd %>'">
                                        <button id="detail" type="button" name="detail" >Detail</button>
                                    </a>
                                </div>
                            </div>
                        <%})%>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<!--footer-->
<footer class="section footer">
    <div class="footer-distributed">
        <div class="footer-left">
            <h3>A1<span> - UNIFORMS</span></h3>

            <p class="footer-links">
                <a href="/" class="link-1">Home</a>

                <a href="#">Blog</a>

                <a href="#">Pricing</a>

                <a href="#">About</a>

                <a href="#">Faq</a>

                <a href="">Contact</a>
            </p>

            <p class="footer-company-name">A1 - UNIFORMS © 2021</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>275 Nguyễn Trãi</span> Thanh Xuân, Hà Nội</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+84 943326689</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:A1.uniforms@gmail.com">A1.uniforms@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the company</span>
                A-1 uniforms was founded in 2016 and since then they have been one of the leading Uniform Manufacturers in the country.
            </p>
            <div class="footer-icons">
                <a href="https://www.facebook.com/khai.le.3344"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/yotsubasuzu/eProject/tree/master/public/imgs"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>
</footer>
<!--footer end-->
</body>
</html>