<%- include('payment-overview.ejs') %>


<section id="order-complete" class="m-top">
<h2>Thank you!</h2>
<p class="info">Dear <%= billing.firstname %> <%= billing.lastname %><br>
Thank you for your order!</p>
<p><input type="submit" class="btn" value="Back to Homepage" id="backHomeBtn"></p>
</section>                        
