.section{
    float:left;
    width: 100%;
}
.container{
    float:none;
    width: 1170px;
    margin:0 auto;
}
.main{
    margin-top: 30px;
}
.content{
    float: left;
    background-color: #ffffff;
}
.sidebar{
    float: left;
}
.header{
    background-color: #ffffff;
    /*border-bottom: 1px solid red;*/
    padding: 20px 0;
}
.sidebar .sidebar-name{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
}
.sidebar .sidebar-tab li{
    list-style: none;
    font-size: 14px;
    padding-top: 5px;
    padding-left: 10px;
}
.sidebar .sidebar-tab label{
    padding-right: 5px;
}
.sidebar-tab{
    border: 1px solid #ddd;
    margin-bottom: 25px;
}
.sidebar hr{
    border: none;
    background-color: #ed3126;
    height: 2px;
    margin-left: 10px;
    width: calc(100% - 20px);
}
.content .product{
    border: 1px solid #ddd;
    position: relative;
    max-width: calc(33% - 30px);
    float: left;
    margin: 0 20px 20px 20px;
    padding: 10px;
}
.content .des{
    padding: 15px 15px;
}
.content .des .pr-name{
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
.des .code{
    font-size: 16px;
}
.des .cost{
    font-size: 16px;
    font-weight: 600;
    color: #ed3126;
    text-align: center;
}
.content .des button{
    height: 40px;
    width: 100%;
    text-align: center;
    border: 1px solid #ed3126;
    text-transform: uppercase;
}
button:hover{
    color: #ffffff;
    background-color: #ed3126;
}
a:hover{
    color: #ed3126;
}
a{
    color: #222222;
    text-decoration: none;

}
a:hover, a:focus, a:visited {
    text-decoration: none;
}