*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color:#222222;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    background-color: white;
}
.main{
    margin-bottom: 50px;
}
.content-img{
    float: left;
}
.content .pr-img .picture{
    height: auto;
    width: 100%;
    border: 1px solid #22d6ac;
    padding: 15px 5px;
}
.content-img .thumbnails img{
    width: 100%;
    height: auto;
}
.content-img .thumbnails li{
    float: left;
    list-style: none;
}
.pr-info{
    float: left;
}
.pr-info .top-info{
    margin-bottom: 40px;
    padding-left: 15px;
}
.pr-info .pr-name{
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 40px;
    text-transform: uppercase;
    padding-top: 0;
}
.pr-info .pr-cost{
    font-size: 23px;
    color: #ed3126;
    font-weight: 600;
}
.top-info .material{
    font-style: italic;
    margin-bottom: 20px;
}
#wholesale{
    background-color: #ed3126;
    width: 100%;
    color: #fafafa;
    height: 50px;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);
}
.modal-header{
    height: auto;
    width: 100%;
    background-color: #ed3126;
    color: #fafafa;
    border-radius: 5px;
}
.modal-header h4{
    font-size: 19px;
    font-weight: 600;
    text-align: center;
}
.modal-content {
    width: 400px;
    background-color: #fafafa;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
}
.modal-body{
    width: 100%;
    margin-top: 15px;
}
.modal-body .form-group{
    float: left;
    width: 48%;
}
.modal-body #form-left{
    float: right;
}
.modal-body input{
    width: 100%;
    height: 35px;
    border: 1px solid #ed3126;
}
.modal-body #submit{
    width: 100%;
}
.modal-body button{
    float: right;
    font-size: 15px;
    width: 70px;
    height: 35px;
    padding: 2px 10px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: #ed3126;
    color: #fafafa;
    border: none;
}
.close {
    color: #aaaaaa;
    float: left;
    font-size: 21px;
    font-weight: 600;
    width: 25px;
    height: 25px;
}
.pr-info .size{
    margin-bottom: 80px;
    padding-left: 15px;
}
.pr-info .size .size-now{
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
}
.pr-sizes li{
    float: left;
    list-style: none;
}
.pr-sizes li button[name=number-size]{
    width: 50px;
    height: 30px;
    border: none;
    font-size: 16px;
    color: #ffffff;
    background-color: #ed3126;
    margin-right: 10px;
    border-radius: 5%;
}
.pr-info .amount{
    float: left;
    padding-left: 15px;
}
.title-amount{
    font-size: 16px;
    font-weight: 600;
}
.choose-amount{
    margin-bottom: 40px;
}
.choose-amount input[id=cre]{
    width: 28px;
    height: 30px;
    font-size: 20px;
    border: none;
}
.choose-amount input[id=quantity]{
    width: 65px;
    height: 30px;
    text-align: center;
}
.buy-pr{
    width: 100%;
    margin-bottom: 20px;
}
.amount .buy-pr button[name=buy]{
    width: calc(50% - 8px);
    height: 40px;
    font-size: 18px;
    margin-left: 4px;
    font-weight: 600;
    color: #ffffff;
    background-color: #ed3126;
    border: none;
}
.amount .buy-pr a{
    color: #FFFFFF;
    text-decoration: none;
}
.order p{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}
.order button[id=phone]{
    width: 170px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 40px;
    font-size: 21px;
    font-weight: 600;
    color: #ffffff;
    background-color: #6dbe14;
    border: none;
    border-radius: 40px;
}
.pr-des{
    float: left;
}
.pr-des h3{
    font-size: 23px;
    font-weight: 600;
    padding-left: 20px;
}
.pr-des .p-des-name{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.pr-des .p-des{
    width: 100%;
    font-size: 15px;
    border: 1px solid #34e5c2;
    padding: 25px 15px 25px;
}
.pr-des a{
    font-weight: 600;
    color: #222222;
    text-decoration: underline;
}
.form-group button:hover{
    color: #fafafa;
    background-color: #b31b12;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.sidebar .sidebar-img{
    border: 1px solid #34e5c2;
    padding: 10px;
    margin-bottom: 20px;
}
.sidebar .related-pr{
    padding: 10px 10px;
    border: 1px solid #34e5c2;
}
.sidebar .list-related{
    margin-top: 10px;
}
.sidebar .list-related .item-related{
    float: left;
    width: 230px;
}
.sidebar .sidebar-img img{
    width: 100%;
    height: auto;
}
.item-related .cap{
    font-size: 14px;
    font-weight: 600;
}
.sidebar .related-pr .sidebar-title{
    font-size: 18px;
    text-align: center;
}
.sidebar .list-related .item-related{
    padding: 5px 5px;
    border-bottom: 1px dotted #34e5c2;
}
.sidebar .list-related .item-related img{
    float: left;
    width: 80px;
    height: auto;
}
.sidebar .list-related .item-info{
    float: left;
    width: calc(100% - 80px);
    padding-left: 15px;
}
.sidebar .related-pr hr{
    border: none;
    background-color: #222222;
    height: 2px;
    width: calc(100% - 10px);
}
.item-info, .pr-des a:hover{
    color: #ed3126;
}
.item-info a{
    color: #222222;
    text-decoration: none;
}
.item-info a:hover,
.item-info a:focus,
.item-info a:visited {
    text-decoration: none;
}
.item-info a:hover{
    color: #ed3126;
}
#wholesale:hover{
    background-color: #b31b12;
    font-size: 21px;
}
.size .pr-sizes button:hover{
    background-color: #b31b12;
}
.amount .buy-pr button:hover{
    color: #ed3126;
    background-color: #fafafa;
    border: 1px solid #ed3126;
}
.amount .order button:hover{
    background-color: #04a504;
}
.amount .buy-pr a:hover{
    color: #ed3126;
    background-color: #fafafa;
    text-decoration: none;
}
.zoom{
    display:inline-block;
    position: relative;
}.zoom:after{
     content:'';
     display:block;
     width:33px;
     height:33px;
     position:absolute;
     top:0;
     right:0;
     /*background:url(icon.png);*/
}
.zoom img{
    display: block;
}

.zoom img::selection{ background-color: transparent;}
